{% extends "server/base.twig" %}

{% block content %}
    <h3>
        팟빵에 오신것을 환영합니다.
    </h3>
    <p>
        <strong>팟빵상회</strong>에서 다음과 같은 정보를 요청하고 있습니다.
    </p>
    <ul>
        <li>friends</li>
        <li>memories</li>
        <li>hopes, dreams, passions, etc.</li>
        <li>sock drawer</li>
    </ul>
    <p>팟빵상회 이용동의를 위한 추가 약관</p>
    <ul>
        <li>1. </li>
        <li>2. </li>
        <li>3. </li>
    </ul>
    <p>동의합니다를 누르시면 팟빵상회로 돌아갑니다.</p>
    <ul class="authorize_options">
        <li>
            <form action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
                <input type="submit" class="button authorize" value="네, 동의합니다" />
                <input type="hidden" name="authorize" value="1" />
            </form>
        </li>
        <li class="cancel">
            <form id="cancel" action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
                <a href="#" onclick="document.getElementById('cancel').submit()">취소</a>
                <input type="hidden" name="authorize" value="0" />
            </form>
        </li>
    </ul>
{% endblock %}